{% extends "moneyManager/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated and money != 0 %}
    <!-- View for those logged in and money is added (i.e. not 0) -->
    Total money added: {{money}} <br>
    Balance left = {{balance}} <br> 

    <a href="{% url 'addMoney' %}"> Add Money/ View transaction/ Details </a> 

    {% else %} 
    <!-- View for those not logged in  -->
        --intro-- <br>

        <a href="{% url 'addMoney' %}"> GET STARTED </a> 

    {% endif %}
{% endblock %}